
  @import url('https://fonts.googleapis.com/css2?family=Gloock&family=Manrope&family=Prompt:wght@100&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Gloock&family=Manrope&family=Montserrat:ital@1&family=Nunito:wght@300&family=Poppins:wght@300&family=Prompt:wght@100&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Gloock&family=Inter:wght@300;400&family=Manrope&family=Montserrat:ital@1&family=Nunito:wght@300&family=Poppins:wght@300&family=Prompt:wght@100&display=swap');


.each-card{
    width: 27%;
    height: 530px;
    margin-bottom: 100px;
    margin-left: 50px;
    background-color:white;
  
    /* display: flex; */
    /* justify-content: center; */
    float: left;
    border-radius: 10px;
    text-align: justify;
   
    
}

img{
    width: 23rem;
    height: 300px;
    border-radius : 10px 10px 0px 0px;
}
.card-name{
     color:#072A6C;
     padding-left: 14px;
     padding-right: 14px;
     /* padding-right: 10px; */
     
     word-break:break-word ;
     margin-bottom: 10px;
     font-family: 'Nunito', sans-serif;
}
h1{
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color:black;
    margin-bottom: 90px;
    margin-top: 50px;
    /* text-decoration: underline  darkblue 2px; */
    font-family: 'Inter', sans-serif;
    
}

.card-title
{
    color:gray;
     padding-left: 14px;
     width: 21rem;
     font-weight: 300;
     font-size: 12px;
   
     text-align: justify;
     
     font-family: 'Manrope', sans-seri;
}

.btn{
     margin-left: 100px;
     margin-top: 8px;
     align-items: center;
     width: 160px;
     background-color: white;
     color: red;
     cursor: pointer;
     font-family: 'Inter', sans-serif;
     border-color: #072A6C;
    
    }

.btn:hover{
    color: purple;
}

body{
    background-color:#F8F8FF;
}

.price{
    width: 60px;
    height: 17px;
   /* / border: 2px solid black; */
   
    margin-left: 14px;
    padding: 3px;
    color: cornflowerblue;
    font-weight:  bold;
    font-family: 'Nunito', sans-serif;
   
}